<div class="cpanel">
	<div class="card">
		<h2>Add directory</h2>
		<form method="POST" action="/directories">
			<input type="text" name="url" placeholder="http://directory.com" />
			<input type="submit" value="Add" />
		</form>
		<div class="directory-response">

		</div>
	</div>

	<div class="card">
		<h2>Download file</h2>
	  <form method="POST" action="/download">
			<input type="text" name="file_name" placeholder="Return of the King" />
			<input type="text" name="file_type" placeholder="Movie" />
			<input type="submit" value="Find" />
		</form>
		<div class="download-response">
			<%= @file_name %>
		</div>
	</div>

	<div class="card">
		<h2>Reddit</h2>
	  <form method="POST" action="/reddit">
			<input type="submit" value="Reddit" />
		</form>
		<div class="download-response">
			<%= @file_name %>
		</div>
	</div>
</div>